<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:aop="http://www.springframework.org/schema/aop" 
     
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
                 >
     
<bean id="circle" class="org.mursil.spring.practice.model.Circle">   
	<qualifier value="circle"/>  
	<property name="name" value="Circle"/>
	
</bean>
     
<bean id="triangle" class="org.mursil.spring.practice.model.Triangle">     
	<property name="name" value="Triangle"/>
	
</bean>

<bean id="loggingAspect" class="org.mursil.spring.practice.aspect.LoggingAspect" />

<!-- For identifying beans which are marked in the code -->
<context:component-scan base-package="org.mursil.spring.practice.service"></context:component-scan>

<!-- For all the Annotations that are Marked in the code. e.g. @Autowired,  -->
<context:annotation-config/>

<!-- For enabling Aspect oriented Programing in Spring -->
<aop:aspectj-autoproxy />



</beans>